html, body {
  margin: 0;
  height: 100%;
}

.navbar {
    margin: 0;
    border-radius: 0;
}

.btn {
  cursor: pointer;
}

.btn-register {
  margin-top: 10px;
}

.animated {
    animation-name: backgroundTransition;
    animation-duration: 1100ms;
}

@keyframes backgroundTransition {
    from { background-color: #d8e9ff; }
    to { background-color: white; }
}
